.header{
    background: rgb(20, 89, 225);
    width: 100%;
    height: 150px;
}

body{
    margin: 0;
    font-family: helvetica Neue,Helvetica,Arial,sans-serif;
}

.logo{
    width: 50%;
    padding-top: 40px;
    float:left;
}

.login{
    float: left;
    padding-top: 5px;
    padding-left:45px;
}

.logo-text{
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 30;
    margin-left: 170px;
    font-family: helvetica Neue,Helvetica,Arial,sans-serif;
}


.login-control{
    float: left;
    margin-left: 800px;
}

.login-label{
    color: white;
    font-size: 11px;
    
}

.forgetten{
    font-size: 11px;
    color: white;
     text-decoration: none;
}

.button{
    background-color: rgb(23, 84, 198);
    color: white;
    height: 30px;
    border-color: blue;
    cursor: pointer;
}

.button:hover{
    background: #000;
}

.left-section{
    width: 50%;
    float: left;
}

.right-section{
    width: 50%;
    float: left;
}

.main-body{
    background: #e0b1b1;
    width: 100%;
    height: 70%;
}

.image{
    width: 100%;
    height: 70%;
    margin-left: 100px;
}